<h2>
  Editar Sala
</h2>

<div class="input-group mb-3">
  <span class="input-group-text" id="Nome">Código</span>
  <input #codigo="ngModel" [(ngModel)]="sala.codigo" type="text" class="form-control" placeholder="Código da sala" aria-label="Codigo" aria-describedby="Codigo">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="Professor">Professor</span>
  <select class="form-select" aria-label="Professor" aria-describedby="Professor" [(ngModel)]="sala.professorId">
    <option [value]="0" default selected></option>
    <option [value]="professor.id" *ngFor="let professor of professores">{{professor.nome}}</option>
  </select>
</div>

<div class="d-flex justify-content-end buttons">
  <button class="btn btn-primary" (click)="close(false)">
    Fechar
  </button>
  <button class="btn btn-warning" [disabled]="FieldsNotNull || !sala.codigo" (click)="editar()">
    Editar
  </button>

</div>
