<h2>
  Cadastro de Sala
</h2>

<div class="input-group mb-3">
  <span class="input-group-text" id="Nome">Código</span>
  <input #codigo="ngModel" [(ngModel)]="sala.codigo" type="text" class="form-control" placeholder="código da sala" aria-label="Codigo" aria-describedby="Codigo">
</div>

<div class="d-flex justify-content-end buttons">
  <button class="btn btn-primary" (click)="close(false)">
    Fechar
  </button>
  <button class="btn btn-success" [disabled]="FieldsNotNull || !sala.codigo" (click)="create()">
    Cadastrar
  </button>

</div>
