<h2>
  Cadastro de Materia
</h2>

<div class="input-group mb-3">
  <span class="input-group-text" id="Nome">Nome</span>
  <input #nome="ngModel"[(ngModel)]="materia.nome" type="text" class="form-control" placeholder="Nome da matéria" aria-label="Nome" aria-describedby="Nome">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="Professor">Professor</span>
  <select class="form-select" aria-label="Professor" aria-describedby="Professor" [(ngModel)]="materia.professorId">
    <option [value]="0" default selected></option>
    <option [value]="professor.id" *ngFor="let professor of professores">{{professor.nome}}</option>
  </select>
</div>

<div class="d-flex justify-content-end buttons">
  <button class="btn btn-primary" (click)="close(false)">
    Fechar
  </button>
  <button class="btn btn-warning" [disabled]="!materia.nome || FieldsNotNull" (click)="update()">
    Editar
  </button>

</div>
