.buttons {
  gap: 1.4rem;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  padding-bottom: 1%;
  border-bottom: 2px solid #3f51b5;
}

.text {
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.text-sub {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
